
body {
    background-color: #111827;
}

.tablero {
    /*border-style: solid;*/
    border:1px solid #111827;
    border-spacing: 0px;
}

#jugador{
    padding-top: 5px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

.tablero {
    background-image: url("../img/fondo.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    height: 200px;
}

td,tr {
    padding: 0;
    
}

td img {
    height: 100px;
    width: 100%;
}

h1 {
    text-align: center;
}